body {background-color: #6B5B95;

}
h1{text-align: left;
  color: #EC9787;
   font-weight: 600;
   font-family: fantasy;

}
h2{color: #EC9787;
  font-weight: 600;
  font-family: fantasy;


}
h3{color: #EC9787;
  font-family: fantasy;

}
p{color: #EC9787;

}
ul {color: #EC9787;
}
a{color: #EC9787;

}
center {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110%;
  }
.activitiesImages {
  display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}
